
/*Override BS*/
.nav-pills > li {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-pills > li > a {
    color:#eee;
    padding-left:20px; padding-right: 20px
}

.nav-pills > li{
    text-align: center;
    padding-top:30px; padding-bottom:30px
}

.nav-pills {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
}
.nav>li>a:focus, .nav>li>a:hover {
  color: #fff;
  background-color: #404040;
}
.section{
    height:480px;
    width:1300px;
    background-color: white;
    /*border-style: solid;*/
    color:black;
}
.denim{
    background-image: url("../images/denim-background.jpg");
    position:absolute;
    z-index:-1;
    height:300px;
    width:100%;
    /*background-attachment:fi:;xed;    */
    /* this keeps the background in place */
    background-size:50% 50%;
    background-repeat: repeat;
    /*border:2px solid red;  */
    text-align: center;
}
.dpContainer{
    position:absolute;
    z-index:0;
    /*background: rgba(54, 25, 25, .5);*/
    text-align: center;
    margin-top: -10%;
    margin-left: 38%
}
.pic img{
    height: 190px;
    width: 175px;
    border-style: solid;
    border-width: 5px;
    border-radius: 75px / 75px;
    border-color: white;
}
.name{
    font-size: 400%;
    font-family: serif;
    color: #fff;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 480px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
left:30%;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
.designation{
    color: #fff;
    font-size: 14px;
    margin: 20% 0 50% 60%;
}
blockquote cite:before {
content: "\2014 \2009";
}

.subHeading{
    color: white;
    font-size: 1.7vw;
    font-family:'Trirong', serif;
    background-color: black;
    top: 10%;
}
.cont{
    font-family:'Trirong', serif;
    height: 80%;
    font-size:150%;
    text-align:justify;
    width:50%;
    left:10%;
    top:10%;
}